﻿<p>Dear {{username}},</p>



<p>We are pleased to inform you that your account has been created for {{useraccountname}}. As a new user, you now have access to our services and resources.</p>



<p>To access your account, please use the following login credentials:</p>

<p>Username: {{username}}</p>
<p>Temporary Password: {{password}}</p>


<p>Please note that the temporary password is only valid for a limited time. We highly recommend that you change your password immediately upon logging in for the first time to ensure the security of your account.</p>

<p>To login to your account and change your password, please click on the following link: {{loginurl}}</p>

<p>If you have any questions or encounter any issues, please do not hesitate to contact us at [insert contact details].</p>


<p>Thank you for your cooperation.</p>



<p>Best regards,</p>
<p>{{companyname}}</p>